@model Lab10.Models.Article

@{
    ViewBag.Title = "Show";
}
<br />


<div class="panel panel-default">
    @Html.Partial("ArticleInfo", Model)
    @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
        <div class="panel-footer">
            <a class="btn btn-success pull-left" href="/Articles/Edit/@Model.Id">Modifica articol</a>

            @using (Html.BeginForm(actionName: "Delete", controllerName: "Articles"))
            {
                @Html.Hidden("Id")
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Sterge articol</button>
            }
            <div class="clearfix"></div>
        </div>
    }

</div>


    <br />
    @foreach (var comm in Model.Comments)
    {
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.Content</p>
                    <small class="pull-right">@comm.Date</small>
                    <i class="glyphicon glyphicon-user"></i> <i>scris de</i> <strong> @comm.User.UserName </strong>
                </div>
                @if (comm.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.CommentId"></a>
                    </div>
                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
                </div>
        </div>
        <div class="col-md-2"></div>
    </div>
        <hr />
    }


        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="panel">
                        <form method="post" action="/Articles/Show/@Model.Id">
                            <div class="panel-body">
                                <input type="hidden" name="ArticleId" value="@Model.Id" />
                                <label>Continut comentariu</label>
                                <br />
                                <textarea class="form-control" name="Content"></textarea>
                                @Html.ValidationMessage("Content", "", new { @class = "text-danger"})
                                <br />
                                <button class="btn btn-success " type="submit">Adauga comentariu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>







