@model ProiectDAW.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<header class="page-header page-header-dark bg-img-repeat bg-success" style="background-image: url(&quot;assets/img/pattern-shapes.png&quot;)">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1 class="page-header-title">Asociere cont</h1>
                    <p class="page-header-text">Pentru a primi permisiuni de editare, contactati administratorul.</p>
                </div>
                <div class="col-lg-6">
                    <div class="card rounded-lg text-dark">
                        <div class="card-header py-4">Association Form</div>
                        <div class="card-body">
                            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <p class="text-success">
                                    Te-ai autentificat cu succes cu <strong>@ViewBag.LoginProvider</strong>.
                                    Te rugam sa introduci username-ul si email-ul asociate contului tau.
                                </p>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "small text-gray-600" })
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control rounded-pill" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "small text-gray-600" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control rounded-pill" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <button type="submit" class="btn btn-primary btn-marketing btn-block rounded-pill mt-2">Inregistrare</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
