@model ProiectDAW.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<header class="page-header page-header-dark bg-img-repeat bg-success-soft" style="background-image: url(&quot;assets/img/pattern-shapes.png&quot;)">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="card rounded-lg text-dark">
                        <div class="card-header py-4">Introdu email</div>
                        <div class="card-body">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "small text-gray-600" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control rounded-pill" })
                                </div>
                                <button type="submit" class="btn btn-primary btn-marketing btn-block rounded-pill mt-2">Trimite email</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="page-header-title text-black">Ti-ai uitat parola?</h1>
                    <p class="page-header-text" style="color: black!important">Nicio problema, ti-o poti reseta folosind email-ul tau.</p>
                </div>
            </div>
        </div>
    </div>
</header>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
