

@model BuhaiDarius34.Models.Meeting
@{
    ViewBag.Title = "Adaugare Conferinta";
}

<br />
<a class="btn btn-primary pull-left" href="/Meetings/Index"><i class="glyphicon glyphicon-chevron-left"></i> Inapoi la conferinte</a>
<br />
<hr />
<h2>@ViewBag.Title</h2>
<br />
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
    <br />
}

@using (Html.BeginForm(actionName: "New", controllerName: "Meetings"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("TitluMeet", "Titlu conferinta")
    <br />
    @Html.TextBox("TitluMeet", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.TitluMeet, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Content", "Continut conferinta")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
    <br />
    @Html.Label("DataMeet", "Data conferinta")
    <br />
    @Html.TextBox("DataMeet", null, new { @class = "form-control", @type = "text" })
    @Html.ValidationMessageFor(m => m.DataMeet, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Selectati Subiect")
    <br />
    @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.Subjects, "Value", "Text"), "Selectati Subiect", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SubjectId, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus-sign"></i> Adauga Conferinta</button>
}

