
@{
    ViewBag.Title = "Afisare conferinte";
}

<h2>@ViewBag.Title</h2>
<br />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div><br />
}

<form method="get" action="/Meetings/Search">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("search", "Cauta conferinte dupa nume subiect")
    <br />

    <input class="form-control pull-left" name="search" value="@ViewBag.Search" required/>
    <button class="btn btn-success pull-right" type="submit"><i class="glyphicon glyphicon-search"></i>&nbsp; Cauta conferinte</button>
</form>
<br /><hr />

@foreach (var meeting in ViewBag.Meetings)
{
    <div class="panel panel-default">
        <div class="panel-heading">@meeting.TitluMeet</div>
        <div class="panel-body">
            <p class="pull-left">@meeting.Content</p>
            <span class="label label-success pull-right">@meeting.DataMeet</span>
            <br /><br />
            <p><i class="glyphicon glyphicon-globe"></i> @meeting.Subject.NumeSub</p>
        </div>
        <div class="panel-footer">

            <form method="post" action="/Meetings/Delete/@meeting.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <a class="btn btn-success btn-sm" href="/Meetings/Show/@meeting.Id">
                    <i class="glyphicon glyphicon-eye-open"></i> &nbsp;Afisare conferinta
                </a>
                <a class="btn btn-primary btn-sm" href="/Meetings/Edit/@meeting.Id">
                    <i class="glyphicon glyphicon-edit"></i> &nbsp;Editeaza conferinta
                </a>
                <button class="btn btn-danger btn-sm" type="submit">
                    <i class="glyphicon glyphicon-trash"></i> &nbsp;Sterge conferinta
                </button>
            </form>
        </div>
    </div>
}
<br />
<a class="btn btn-primary" href="/Meetings/New">
    <i class="glyphicon glyphicon-plus-sign"></i> &nbsp;Adauga conferinta
</a>

