@model BuhaiDarius34.Models.Meeting

@{
    ViewBag.Title = "Show";
}
<br />
<a class="btn btn-primary pull-left" href="/Meetings/Index"><i class="glyphicon glyphicon-chevron-left"></i> Inapoi la conferinte</a>
<a class="btn btn-success pull-right" href="/Meetings/New"><i class="glyphicon glyphicon-plus-sign"></i> Adauga conferinta</a>
<br /><br />
<hr />
<div class="panel panel-default">
    <div class="panel-heading">@Model.TitluMeet</div>
    <div class="panel-body">
        Continut conferinta: <strong>@Model.Content</strong>
        <br /><br />
        <span class="label label-success">@Model.DataMeet</span>
        <br /><br />
        <i class="glyphicon glyphicon-globe"></i> @Model.Subject.NumeSub
        <br /><br />
        <hr>
        <a class="btn btn-success pull-left btn-sm" href="/Meetings/Edit/@Model.Id"><i class="glyphicon glyphicon-edit"></i>&nbsp; Modifica conferinta</a>
        <form method="post" action="/Meetings/Delete/@Model.Id">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right btn-sm" type="submit"><i class="glyphicon glyphicon-trash"></i>&nbsp; Sterge conferinta</button>
        </form>
    </div>
</div>








