
@{
    ViewBag.Title = "Produse";
}

<section class="bg-light py-10">
    <div class="container">

        @if (TempData.ContainsKey("message"))
        {
            <br /><br />
            <div class="alert alert-success">
                @ViewBag.message
            </div>
        }
        <br />
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="mb-0">@ViewBag.Title - Magazin Online</h6>
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <a class="text-arrow-icon small" href="/Products/Approve"><i class="glyphicon glyphicon-time"></i> &nbsp;Produse in Asteptare</a>
                </div>
            }
        </div>
        <hr class="mb-4">
        <form method="get" action="/Products/Index" id="searchForm">
            <div class="input-group input-group-lg mb-5">

                <div class="input-group-prepend show">
                    <select name="sort" class="btn btn-primary" onchange="document.getElementById('searchForm').submit()">
                        <option value="" class="bg-white text-black">Sorteaza dupa</option>
                        <option value="price-asc" @(ViewBag.sort == "price-asc" ? "selected" : "") class="bg-white text-black">Pret crescator</option>
                        <option value="price-desc" @(ViewBag.sort == "price-desc" ? "selected" : "") class="bg-white text-black">Pret descrescator</option>
                        <option value="rating-asc" @(ViewBag.sort == "rating-asc" ? "selected" : "") class="bg-white text-black">Rating crescator</option>
                        <option value="rating-desc" @(ViewBag.sort == "rating-desc" ? "selected" : "") class="bg-white text-black">Rating descrescator</option>
                    </select>
                </div>

                <input name="search" class="form-control" type="text" placeholder="Cauta in produse..." value="@ViewBag.search">

            </div>
        </form>

        @foreach (var product in ViewBag.Products)
        {
            if (product.Approved)
            {
                <div class="card post-preview post-preview-featured lift mb-5">
                    <div class="row no-gutters">
                        <div class="col-lg-5">
                            <a href="/Products/Show/@product.ProductId"><div class="post-preview-featured-img" style="background-image: url(&quot;@Url.Content(product.Image)&quot;)"></div></a>
                        </div>
                        <div class="col-lg-7">
                            <div class="card-body">
                                <div class="pb-5">
                                    @if ((User.IsInRole("Editor") && product.UserId == ViewBag.UserId) || User.IsInRole("Admin"))
                                    {
                                        <form class="float-right" method="post" action="/Products/Delete/@product.ProductId">
                                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                                            <a class="btn btn-success btn-sm" href="/Products/Edit/@product.ProductId"><i class="glyphicon glyphicon-edit"></i> &nbsp;Editare</a>
                                            &nbsp;&nbsp;<button type="submit" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i> &nbsp;Sterge produs</button>
                                        </form>
                                    }
                                    <a class="text-dark" href="/Products/Show/@product.ProductId"><h1>@product.Title</h1></a>

                                    <div class="rating-box">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= product.FinalRating)
                                            {
                                                <i class="glyphicon glyphicon-star text-warning"></i>
                                            }
                                            else
                                            {
                                                <i class="glyphicon glyphicon-star-empty"></i>
                                            }
                                        }
                                    </div>
                                    <p>@product.Description</p>
                                    <span><i class="glyphicon glyphicon-bitcoin"></i> &nbsp;Pret: @product.Price lei</span>
                                    <br /><span><i class="glyphicon glyphicon-globe"></i> &nbsp;Categorie: @product.Category.CategoryName</span>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6">
                                        <a class="text-arrow-icon small" style="text-decoration:none" href="/Products/Show/@product.ProductId">Vizualizare &nbsp;<i class="glyphicon glyphicon-arrow-right"></i></a>
                                    </div>
                                    <div class="col-md-6">
                                        <!--<a class="btn btn-success btn-sm float-right" href="/Basket/Index/@product.ProductId"><i class="glyphicon glyphicon-shopping-cart"></i> &nbsp;Adauga in cos</a>-->
                                        <form class="float-right" method="post" action="/Basket/New/@product.ProductId">
                                            <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-shopping-cart"></i> &nbsp;Adauga in cos</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <br />

        @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
        {
            <div class="card-body bg-white d-flex align-items-center justify-content-between p-4" style="border-radius:5px">
                <p class="lead mb-0">In calitate de editor, poti adauga si edita produsele</p>
                <a class="btn btn-primary btn-marketing rounded-pill ml-2" href="/Products/New"><i class="glyphicon glyphicon-plus-sign"></i> &nbsp;Produs nou</a>
            </div>
        }
    </div>
</section>

