@model ProiectDAW.Models.Product

@{
    ViewBag.Title = Model.Title;
}
<section class="bg-light py-10">
    <div class="container">


        

        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">

                @if (TempData.ContainsKey("message"))
                {
                    <br /><br />
                    <div class="alert alert-primary">
                        @ViewBag.message
                    </div>
                }
                <br />

                <div class="single-post">
                    <div class="float-right">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= @Model.FinalRating)
                            {
                                <i class="glyphicon glyphicon-star text-warning"></i>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-star-empty"></i>
                            }
                        }
                    </div>
                    <h1 class="mb-3">@Model.Title</h1>

                    @if ((User.IsInRole("Editor") && Model.UserId == ViewBag.UserId) || User.IsInRole("Admin"))
                    {
                        <form method="post" class="float-right" action="/Products/Delete/@Model.ProductId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <a class="btn btn-success btn-sm" href="/Products/Edit/@Model.ProductId"><i class="glyphicon glyphicon-edit"></i> &nbsp;Editeaza</a>
                            <button class="btn btn-danger btn-sm" type="submit"><i class="glyphicon glyphicon-trash"></i> &nbsp;Sterge</button>
                        </form>
                    }
                    <p class="lead">@Model.Description</p>

                    <span><i class="glyphicon glyphicon-bitcoin"></i> &nbsp;Pret: @Model.Price lei</span><br />
                    <span><i class="glyphicon glyphicon-globe"></i> &nbsp;Categorie: @Model.Category.CategoryName</span>
                    <br /><br />
                    <img class="img-fluid mb-2" src="@Url.Content(Model.Image)">
                    <div class="small text-gray-500 text-center">Postat de: @Model.User.UserName</div>
                    <br />
                    <div class="post-archive-tag">Review-uri</div>
                    @foreach (var comm in Model.Comments)
                    {
                        <div>
                            @if (User.IsInRole("Admin") || (User.IsInRole("User") && comm.UserId == ViewBag.UserId))
                            {
                                <form class="float-right" method="post" action="/Comments/Delete/@comm.CommentId">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a class="btn btn-success btn-sm" href="/Comments/Edit/@comm.CommentId"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <button class="btn btn-danger btn-sm" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            }
                            <a class="post-archive-item" href="#!">
                                <h5>
                                    <small align="right">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= comm.Rating)
                                            {
                                                <i class="glyphicon glyphicon-star text-warning"></i>
                                            }
                                            else
                                            {
                                                <i class="glyphicon glyphicon-star-empty"></i>
                                            }
                                        }
                                    </small>
                                </h5>
                                <p>@comm.Content</p>
                            </a>
                            <div class="post-archive-meta">
                                <div class="post-archive-meta-details">
                                    <div class="post-archive-meta-details-date">@comm.Date</div>
                                </div>
                            </div>

                        </div>
                        <hr class="my-5">
                    }

                    @if (User.IsInRole("Editor") || User.IsInRole("Admin") || User.IsInRole("User"))
                    {
                        <div class="card bg-white shadow-none">
                            <div class="card-body align-items-center justify-content-between p-4">

                                <form method="post" action="/Comments/New">
                                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                    <label>Continut comentariu</label>
                                    <br />
                                    <textarea class="form-control" name="Content"></textarea>
                                    <br /><label for="rating">Rating produs (intre 1 si 5):</label>
                                    <br />
                                    <input type="number" value="1" class="form-control" id="rating" name="Rating" min="1" max="5">
                                    <br /><button class="btn btn-success btn-block" type="submit"><i class="glyphicon glyphicon-plus"></i> &nbsp;Adauga comentariu</button>
                                </form>

                            </div>
                        </div>
                        <hr class="my-5">
                    }

                    <div class="text-center"><a class="btn btn-black btn-marketing rounded-pill" href="/Products/Index">Inapoi la Pagina de Produse</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
