@using ProiectDAW.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<header class="page-header page-header-dark bg-img-repeat bg-secondary" style="background-image: url(&quot;assets/img/pattern-shapes.png&quot;)">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="card rounded-lg text-dark">
                        <div class="card-header py-4">Autentificare folosind un cont local</div>
                        <div class="card-body">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "small text-gray-600" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control rounded-pill" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "small text-gray-600" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control rounded-pill" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="checkbox mt-2 ml-2">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                                <button type="submit" class="btn btn-primary btn-marketing btn-block rounded-pill mt-2">Autentificare</button>
                                <div class="mt-4">
                                    @Html.ActionLink("Creare cont", "Register")
                                    @Html.ActionLink("Ti-ai uitat parola?", "ForgotPassword", null, new { @class = "float-right" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
</header>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}