@model Lab10.Models.Article


@using (Html.BeginForm(actionName: "Edit", controllerName: "Articles", routeValues: new { id = Model.Id}))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <br />
    @Html.Label("Title", "Titlu Articol")
    <br />
    @Html.Editor("Title")
    <br />
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Content", "Continut Articol")
    <br />
    @Html.EditorFor(m => m.Content)
    <br />
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
    <br /><br />

    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId,
        new SelectList(Model.Categ, "Value", "Text"),
        "Selectati categoria", new { @class = "form-control" })
    
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br /><br />

    <button class="btn btn-sm btn-success" type="submit">Modifica articol</button>
}

