
@model ProiectDAW.Models.Product
@{
    ViewBag.Title = "Editare Produs";
}

<section class="bg-light py-10">
    <div class="container">

        @if (TempData.ContainsKey("message"))
        {
            <br /><br />
            <div class="alert alert-success">
                @ViewBag.message
            </div>
        }

        <div class="card rounded-lg text-dark">
            <div class="card-header py-4">Editare produs</div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Products", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put);
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.ProductId)
                    <div class="form-group">
                        @Html.Label("Title", "Titlu Produs", new { @class = "small text-gray-600" })
                        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Description", "Descriere Produs", new { @class = "small text-gray-600" })
                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Price", "Pret Produs", new { @class = "small text-gray-600" })
                        @Html.Editor("Price", new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Selectati Categoria", null, new { @class = "small text-gray-600" })
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.AllCategories, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Incarcati Imagine: ", null, new { @class = "small text-gray-600" })
                        &nbsp;&nbsp; <input type="file" id="upload-image" name="ImageFile" />
                        <!--<label for="upload-image" class="btn btn-success btn-sm mt-2"><span class="glyphicon glyphicon-upload"></span>&nbsp; Incarcati Imagine</label>-->
                    </div>
                    <button type="submit" class="btn btn-success btn-marketing btn-block mt-5"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Salveaza Produs</button>

                }
                <form method="post" action="/Products/Delete/@Model.ProductId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-danger btn-marketing btn-block mt-2"><i class="glyphicon glyphicon-trash"></i>&nbsp; Sterge produs</button>
                </form>
            </div>
        </div>


    </div>
</section>