@model ProiectDAW.Models.Product
@{
    ViewBag.Title = "Denumire Produs";
}

<section class="bg-light py-10">
    <div class="container">
        @if (TempData.ContainsKey("message"))
        {
            <br />
            <div class="alert alert-success">
                @ViewBag.message
            </div>
        }

        <div class="card rounded-lg text-dark">
            <div class="card-header py-4">Adaugare produs nou</div>
            <div class="card-body">
                @using (Html.BeginForm("New", "Products", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" , enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Title", "Titlu Produs", new { @class = "small text-gray-600" })
                        @Html.TextBox("Title", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Description", "Descriere Produs", new { @class = "small text-gray-600" })
                        @Html.TextArea("Description", "Descriere Produs", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Price", "Pret Produs", new { @class = "small text-gray-600" })
                        @Html.TextBox("Price", null, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Selectati Categoria", null, new { @class = "small text-gray-600" })
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.AllCategories, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Incarcati Imagine: ", null, new { @class = "small text-gray-600" })
                        &nbsp;&nbsp; <input type="file" id="upload-image" name="ImageFile" required />
                        <!--<label for="upload-image" class="btn btn-success btn-sm mt-2"><span class="glyphicon glyphicon-upload"></span>&nbsp; Incarcati Imagine</label>-->
                    </div>
                    <button type="submit" class="btn btn-primary btn-marketing btn-block mt-5"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Adauga Produs</button>

                }
            </div>
        </div>
    </div>
</section>