
@{
    ViewBag.Title = "Lista subiecte";
}

<h2>@ViewBag.Title</h2>
<br />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
    <br />
}

@foreach (var subject in ViewBag.Subjects)
{
    @Html.Label("NumeSub", "Denumire subiect: ")

    <p>@subject.NumeSub</p>
    <br />
    <form method="post" action="/Subjects/Delete/@subject.Id">

        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <a class="btn btn-primary btn-sm pull-right" href="/Subjects/Show/@subject.Id"><i class="glyphicon glyphicon-eye-open"></i>&nbsp; Vizualizare</a>
        <a class="btn btn-success btn-sm" href="/Subjects/Edit/@subject.Id"><i class="glyphicon glyphicon-edit"></i>&nbsp; Editare</a>
        <button class="btn btn-danger btn-sm" type="submit"><i class="glyphicon glyphicon-trash"></i>&nbsp; Stergere</button>

    </form>

    <hr />
    <br />
}
<br />
<a class="btn btn-primary" href="/Subjects/New"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Adauga subiect</a>
<a class="btn btn-primary" href="/Meetings/Index"><i class="glyphicon glyphicon-list"></i>&nbsp; Lista conferinte</a>
<br />

